@{
    ViewBag.Title = "Home";
}
<br />
<br />
<br />
<br />
<h2 class="title text-center">Welcome to Power Of God Online Store today!!!</h2>
<script>
    if ('@TempData["Success"]' == true)
{
    alert("Form successfully submitted");
    // handle refreshing the view, or redirect to another View (window.location.href = "")
}
</script>
