
<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="img/bg.jpg">
    <div class="page-info-content">
        <div class="pi-inner">
            <div class="container">
                <h2>Contact Us</h2>
                <div class="site-breadcrumb">
                    <a href="#">Home</a> <i class="fa fa-angle-right"></i>
                    <span>Contact Us</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page info section end -->
<!-- Google map -->
@*<div class="full-map" id="map-canvas"></div>*@


<!-- Footer top section -->
<section class="footer-top-contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 footer-top-content">
                <div class="section-title title-left">
                    <h2>Contact Us</h2>
                </div>
                <h3>Durban, SOUTH AFRICA</h3>
                <p>Isidingo Rd, Umlazi J, Umlazi, 4066</p>
                <h3>Emmanuel Musa Cele</h3>
                <p>Lead Pastor</p>
                <p><span>Email:</span> <a href="https://colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3950575f56795a5655564b55505b175a5654">[&#160;celemusa660@gmail.com]</a></p>
                <h4>Phone:</h4>
                <h5>0834352654</h5>
                <br />
                <h3>Londiwe M Cele</h3>
                <p>Lead Pastor</p>
                <p><span>Email:</span> <a href="https://colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3950575f56795a5655564b55505b175a5654">[&#160;celelondiwe@ovi.com]</a></p>
                <h4>Phone:</h4>
                <h5>0837012469/0733008963</h5>
            </div>
            <div class="col-md-6">
                <div class="section-title title-left">
                    <h2>CONTACT FORM</h2>
                </div>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div class="col-sm-6">
                            <input type="email" placeholder="Email address">
                        </div>
                        <div class="col-sm-12">
                            <textarea placeholder="Your Messege"></textarea>
                            <button type="submit" class="site-btn">Send message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Footer top section end-->
<!-- Newsletter section -->
<section class="newsletter-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <h4>Subscribe And Tell Us Real Story About Your Journey</h4>
            </div>
            <div class="col-sm-8 col-md-5 col-sm-offset-2 col-md-offset-0">
                <form class="newsletter-form">
                    <input type="email" placeholder="Enter your email">
                    <button class="nl-send-btn">subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq ||
            { widgetcode: "4133bf52dc5186c72b4359a9ed99f5943ab97e02475cbf6f18bf8d22110d2cbd3df36f2dd283b7efe1698e5454b4a3fa", values: {}, ready: function () { } };
        var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true;
        s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t); d.write("<div id='zsiqwidget'></div>");
    </script>
</section>
<!-- Newsletter section end-->
<!-- Footer section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
            <div class="col-sm-6">
                <div class="social">
                    <a href="#"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                    <a href="#"><i class="ti-google"></i></a>
                    <a href="#"><i class="ti-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer section end -->
<!--====== Javascripts & Jquery ======-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/main.js"></script>

<!-- load for map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
<script src="js/map.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
